# Credentials #
###############
.env

# App Files #
############
*.cache
bin/
build/
cache/
logs/
tmp/
vendor/
log*.txt
dump*.json
tickets.json
milestones.json

# Deployment/IDE Tools #
############
autoload.php
composer.lock
composer.phar
phpunit.xml
.buildpath
*.iml
.idea/
.idea_modules/
.project
.settings
